<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:ital,wght@0,400;0,600;1,700&display=swap"
          rel="stylesheet">
    <meta charset="UTF-8">
    <title>Test ajax</title>

</head>
<body>


<div class="dropdown dropright">
    <a class="btn btn-outline-info btn-lg dropdown-toggle " style="background-color: #fbe9df" href="#" role="button"
       id="dropdownMenuLinka" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
    </a>

    <div class="dropdown-menu dropdown-menu-width " style="background-color: #fbe9df"
         aria-labelledby="dropdownMenuLinak">
        <a></a>
        <a class="nav__link btn btn-info" style="width: 100px;" href="/"></a>
        <br>

    </div>
</div>

<div class="dropdown dropright">

    <form name="my_form">
        <a class="btn btn-outline-info btn-lg dropdown-toggle " style="background-color: #fbe9df" href="#" role="button"
           id="dropdownMenuLinkaa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
        </a>
        <input class="btn btn-outline-info btn-lg dropdown-toggle " style="background-color: #fbe9df" role="button"
               name="my_input" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
    </form>

    <div class="dropdown-menu dropdown-menu-width " style="background-color: #fbe9df"
         aria-labelledby="dropdownMenuLink">





    </div>

</div>
<ul id="resp"><a></a></ul>
<!--<form name="my_form">-->
<!--    <input type="text" name="my_input">-->
<!--    <button type="submit" name="my_button">Send</button>-->
<!--</form>-->


<script src="js/ajax.js"></script>


</body>
</html>